VITE_SUPABASE_URL=https://vnwolauchcduxhgxrqjj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZud29sYXVjaGNkdXhoZ3hycWpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNDkzNDYsImV4cCI6MjA4NzkyNTM0Nn0.KUSD5YI_Ti5dBXwHv0gthKWUaPxI2pvs7I9w2q0zdiA